<!DOCTYPE html>
<html class="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <title>{% block title %}{{ pageTitle | default("Billing - ")}} Tower Systems{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    
    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block topbar %}
{% endblock %} 

{% block content %}
{% endblock %}

{% block javascripts %}
{% endblock %}
</body>
</html>
