{% macro filter(message) %}
    <button class="ui blue labeled icon button" type="submit">
        <i class="icon search"></i> {{ (message is empty ? 'Search' : message) }}
    </button>
{% endmacro %}